* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    background-color: rgb(16, 22, 53) !important;
}

.privacy-section {
    height: auto !important;
}
h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content h5 {
    text-align: left;
    @media (max-width :767px) {
        font-size: 1.1rem;
    }
}
.content li {
    margin-bottom: 10px;
    font-size: 1em;
    color: var(--text-white);
    text-align: left;

@media (max-width :767px) {
    font-size: 14px;
}
}
 p {
    margin-bottom: 20px;
    font-size: 1em;
    color: var(--text-white);
    text-align: left;

}
