body {
  font-family: var(--font-family);
  background-color: rgb(16, 22, 53) !important;
  backdrop-filter: blur(175px);
  background-image: url(../../svg/Animated\ BG.svg);
  color: var(--text-white);
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveBackground 10s infinite linear;
}
.login {
  font-family: var(--font-Sub-Heading);
  display: flex;
  justify-content: start;
  align-items: center;
  /* height: 100vh; */
  position: relative;
  overflow: hidden;
}
.login::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../imgs/sectionlanding.png) 50% / cover no-repeat;
  filter: grayscale(69%) brightness(50%);
  transform: scale(1.2);
  opacity: 0.3;
  z-index: -1;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  .card {
    text-align: center;
    background-color: hsla(0, 0%, 98%, 0.101);
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(300px)
  }
}


@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 0%;
  }
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-white);
}
button {
  border: none;
  outline: none;
}

.sign-form {
  display: flex;
  flex-direction: column;
  /* width: 643px; */
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 64px;
  position: relative;
  background-color: hsla(0, 0%, 98%, 0.101);
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(300px);
  border-radius: 24px;
}

.sign-form .frame {
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-form .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-form .heading {
  position: relative;
  width: fit-content;
  font-family: var(--font-Sub-Heading);
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 44.0px;
  white-space: nowrap;
}



.sign-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-form .frame-2 {
  align-items: flex-start;
  gap: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-form .btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: transparent;
  border-radius: 36px;
  border: 2px solid;
  border-color: #e3e3e3;
  box-shadow: 0px 1px 2px #00000008;
  cursor: pointer;
}

.sign-form .plus {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -3.00px;
}

.sign-form .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-weight: 700;
  color: var(--text-white);
  font-size: 18px;
  letter-spacing: -0.18px;
  line-height: 21.6px;
  white-space: nowrap;
}

.sign-form .or {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-form .vector {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 2px;
}

.sign-form .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.sign-form .input-filled-new {
  display: flex;
  width: 515px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
  border-radius: 36px;
  border: 1.5px solid;
  border-color: #e3e3e3;
}

.sign-form .text-wrapper-4 {
  position: relative;
  flex: 1;
  margin-top: -4.50px;
  margin-bottom: -1.50px;
  font-family: "DM Sans-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.sign-form .password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-form .text-input-icons {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
}

.sign-form .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #8646f4;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.sign-form .submit  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primaryButton-bg-default);
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  color: var(--text-white);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


.sign-form .bottom {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.sign-form .extra-info {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.sign-form .span {
  color: #ffffff;
}

.sign-form .text-wrapper-6 {
  color: #a3aed0;
}

.sign-form .hyperlink {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: #8646f4;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  text-decoration: underline;
  white-space: nowrap;
}