<nav class="navbar">
    <div class="container">
      <div class="header">
        <a class="navbar-brand" href="#">
          <img src="../../svg/logo.webp" alt="Logo">
        </a>
        
        <button class="navbar-toggler" id="toggle-button" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" id="toggler-icon">&#9776;</span>
        </button>

          <ul class=" collapse-screen">
            <li class="nav-item"><a class="nav-link" href="../FAQ/FAQ.html">FAQs</a></li>
            <li class="nav-item"><a class="nav-link" href="../About US/About.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="../contact/contact.html">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="../Privacy/privacy.html">Privacy & Terms</a></li>
            <button class="primaryButton ">
              <img src="../../imgs/Sparkling.png" alt="">
              <p class="text-white">Get Start</p>
            </button>
            <div class="dropdown">
              <select id="language-selector">
                <option value="ar">Ar</option>
                <option value="en">En</option>
                <option value="es">IT</option>
              </select>
            </div>
            
            
            

            
          </ul>
      </div>
  
      <div class="collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="../FAQ/FAQ.html">FAQs</a></li>
          <li class="nav-item"><a class="nav-link" href="../About US/About.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="../contact/contact.html">Contact Us</a></li>
          <li class="nav-item"><a class="nav-link" href="../Privacy/privacy.html">Privacy & Terms</a></li>
      
          <div class="dropdown">
            <button class="dropdown-btn">اختر اللغة</button>
            <div class="dropdown-content">
              <a href="#" onclick="selectLanguage('العربية')">Ar</a>
              <a href="#" onclick="selectLanguage('English')">En</a>
              <a href="#" onclick="selectLanguage('Français')">Fr</a>
              <a href="#" onclick="selectLanguage('Español')">Es</a>
              <a href="#" onclick="selectLanguage('Deutsch')">It</a>
            </div>
          </div>
          
          
          
        </ul>
      </div>
    </div>
  </nav>